<div class="formulaire">
  <p>Veuillez renseigner les champs ci-dessous , Merci!</p>
</div>
<div>
  <div class="champs">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label>
      Prénom :
        <input type="text" formControlName="firstName">
    </label>
    <label>
      Nom :
        <input type="text" formControlName="lastName">
    </label>
    <label>
      Email :
        <input type="text" formControlName="email">
    </label>
    <label>
      Mot de passe :
        <input type="text" formControlName="passWord">
    </label>
    <label>
      rue :
        <input type="text" formControlName="street">
    </label>
    <label>
      Code postal :
        <input type="text" formControlName="zipCode">
    </label>
    <label>
      Ville:
        <input type="text" formControlName="city">
    </label>
    <label>
      Pays :
        <input type="text" formControlName="country">
    </label>
  </form>
    <button (click)="addnewUser()" type="submit" [disabled]="!userForm.valid" >Inscription</button></div>
    <div class="UserElements">
      <div >
        <p>Prénom : {{ user.firstName }}</p>
        <p>Nom : {{ user.lastName }}</p>
        <p>EMail : {{ user.email }}</p>
        <p>Mot de passe : {{ user.passWord }}</p>
        <p>Rue : {{ user.street }}</p>
        <p>Code Postal : {{ user.zipCode }}</p>
        <p>Ville : {{ user.city }}</p>
        <p>Pays : {{ user.country }}</p>
      </div>
  </div>
</div>
